<div>
    <h1 style="color:blue">
        Forms binding
    </h1>
    <h2 style="color:red">{{mensaje}}</h2>
    <form #userForm="ngForm" (ngSubmit)="recibirSubmit()">
        <!-- LOS CONTROLES <input> DEBEN TENER UNA ETIQUETA ngModel APUNTANDO
         AL ID DE ANGULAR.  PARA INDICAR EL MODEL SE UTILIZA (ngModel)="Mi modelo" -->
         <label>Nombre</label>
         <input type="text" #cajanombre="ngModel"
         name="cajanombre"
         [(ngModel)]="user.nombre"/><br/>
         <label>Apellidos</label>
         <input type="text" #cajaapellidos="ngModel"
         name="cajaapellidos"
         [(ngModel)]="user.apellidos"/><br/>
         <label>Edad</label>
         <input type="number" #cajaedad="ngModel"
         name="cajaedad"
         [(ngModel)]="user.edad"/><br/>
        <button>Enviar datos</button>
    </form>
    <h2 style="color:red">
        Nombre: {{user.nombre}}, Apellidos: {{user.apellidos}}
        , Edad: {{user.edad}}
    </h2>
</div>