<div>
    <h1 style="color:blue">
        Forms Object Model
    </h1>
    <form #sumarForm="ngForm">
        <label>Número 1</label>
        <input type="number" #cajanumero1 name="cajanumero1"/><br/>
        <label>Número 2</label>
        <input type="number" #cajanumero2 name="cajanumero2"/><br/>
        <button (click)="sumarNumeros()">
            Sumar números
        </button>
        <button (click)="generarNumero()">
            Generar número
        </button>
    </form>
    @for (num of numeros; track num){
        <h3 style="color:blue">{{num}}</h3>
    }
    @if (suma != 0){
        <h2 style="color:red">
            La suma es {{suma}}
        </h2>
    }
</div>