<div>
    <h1>Tabla multiplicar</h1>
    <form #tablaForm="ngForm">
        <label>Introduzca un número</label>
        <input type="number" name="cajanumero"
        #cajanumero/>
        <button (click)="mostrarTabla()">
            Tabla multiplicar
        </button>
    </form>
    @if (numeros.length > 0){
        <table border="1">
            <thead>
                <tr>
                    <th>Operación</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                @for (num of numeros; track num; let i = $index){
                    <tr>
                        <td>{{numero}} * {{i+1}}</td>
                        <td>{{num}}</td>
                    </tr>
                }
            </tbody>
        </table>
    }
        <table border="1" *ngIf="numeros.length > 0">
            <thead>
                <tr>
                    <th>Operación</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                    <tr *ngFor="let num of numeros; let i = index">
                        <td>{{numero}} * {{i+1}}</td>
                        <td>{{num}}</td>
                    </tr>
            </tbody>
        </table>     
</div>